.challengeBoxContainer {
    height: 100%;

    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    background: var(--white);

    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    text-align: center;

    position: relative;
}

/* Not active */
.challengeBoxNotActive {
    display: flex;
    align-items: center;

    flex-direction: column;
}

.challengeBoxNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;

    text-align: center;
    padding: 0 1.5rem;
}

.challengeBoxMessege {
    display: flex;
    align-items: center;

    flex-direction: row;

    margin-top: 3rem;
    max-width: 80%;
}

.challengeBoxMessege img {
    height: 2.5rem;
    margin-right: 1rem;

    transform: translateY(0.5rem);
}

.challengeBoxMessege p {
    text-align: left;
    line-height: 1.4;
}

.challengeBoxNotActive img {
    margin-bottom: 1rem;
}

/* Active */

.challengeActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challengeActive header {
    color: var(--blue);

    font-weight: 600;
    font-size: 1.25rem;

    padding: 0 2rem 1.5rem;

    border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
    flex: 1;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong {
    font-weight: 600;
    font-size: 2rem;

    color: var(--title);

    margin: 1.5rem 0 1rem;
}

.challengeActive main p {
    line-height: 1.5;
}

.challengeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.challengeActive footer button {
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    color: var(--white);

    font-size: 1.25rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengeActive footer button {
    transition: all 0.2s;
}

.challengeActive footer button.challengeFailedButton {
    background: #fff5f5;
    color: var(--red);
    outline-color: var(--red);
}

.challengeActive footer button.challengeFailedButton:hover {
    background: #e83f5b;
    color: white;
}

.challengeActive footer button.challengeSucceedButton {
    background: #f7fff5;
    color: var(--green);
    outline-color: var(--green);
}

.challengeActive footer button.challengeSucceedButton:hover {
    background: #4cd62b;
    color: white;
}
