.overlay {
    background: rgba(242, 243, 245, 0.8);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: var(--white);

    width: 100%;
    max-width: 400px;

    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);

    text-align: center;

    position: relative;
}

.container header {
    margin: 2rem 3rem;
    font-size: 8.75rem;
    font-weight: 600;

    color: var(--blue);
    background: url("/icons/levelup.svg") no-repeat center;
    background-size: contain;
}

.container strong {
    font-size: 2.25rem;

    color: var(--title);
}

.container p {
    font-size: 1.25rem;

    color: var(--text);

    margin: 0.25rem;
}

.container .button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    background: transparent;
    border: 0;

    font-size: 0;
}

.container .twitter {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .twitter button {
    width: 100%;
    height: 5rem;
    font-size: 1.25rem;
    font-weight: 600;
    background: #f5fcff;
    border: 0;
    border-top: 1px solid #dcdde0;
    color: #2aa9e0;
    transition: all 0.2s;
}

.twitter button > img {
    margin-left: 1rem;
}

.container .twitter button:hover {
    background: #2aa9e0;
    color: white;
}

.container .twitter button:hover > img {
    filter: brightness(1000);
}
